@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  // font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  background: #f6f6f6;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #242424;
  font-weight: 500;
}

ul,
li,
ul li {
  list-style: none;
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #ececec transparent; /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Ширина скроллбара */
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Фон дорожки */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ececec;
    border-radius: 30px; /* Закругление углов */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #b4b4b4; /* Цвет при наведении */
  }
  .custom-scrollbar::-webkit-scrollbar-buttons {
    display: none; /* Убирает стрелочки */
  }
}

.swiper .swiper-pagination {
  bottom: 50px; /* Опустить точки ниже слайдера */
}

.ant-select-selector {
  padding-left: 16px;
}

:where(.css-dev-only-do-not-override-dhzafx).ant-select-single.ant-select-lg:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  padding: 0 16px !important; /* Изменение отступов */
}
